
body{
    margin: 0;
    padding: 0;
}
.con{
    background-color: rgb(238, 175, 175);
    color: black;
}
h2{
    margin-top: 20%;
}
#update{
    display: none;
}

.cols{
    margin-left: 30%;
    margin-top: 3%;
}
.data{
    margin-left: 30%;
}

label{
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-right: 100px;
}
input{
    padding: 10px;

}